body {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1rem !important;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    max-width: 100% !important;
    flex: 1;
    margin: 0 !important;
}


input[type="color"] {
    width: 10%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="color"]:disabled {
    cursor: not-allowed;
}

#techContainer {
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    padding: 10px;
}

.encabezado {
    border-bottom: 1px solid #dee2e6;
    padding: 10px;
}


.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #666;
    padding: 0.5rem 0;
}

.Contenedor {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

#Mes:hover {
    cursor: pointer;
}

.sinBIzq {
    border-left: none;
    border-radius: 0 0.25rem 0.25rem 0;
}

.sinBDer {
    border-right: none;
    border-radius: 0.25rem 0 0 0.25rem;
}

.LineaVertical {
    border-left: 2px solid #6c757d;
    border-right: 2px solid #6c757d;
    padding: 0;
}

.LineaHorizontal {
    border-top: 2px solid #6c757d;
    border-bottom: 2px solid #6c757d;
    padding: 0;
}

.Bloque {
    justify-content: center;
    align-items: center;
    display: flex;
}

.TituloContenedor {
    width: 25%;
    padding: 0.25rem;
    text-align: center;
    font-size: large;
    font-weight: bold;
    text-wrap: nowrap;
}

 